$col-green: green;
$col-crimson: crimson;
$col-red:red;
$col-white: white;
$col-whitesmoke:whitesmoke;
$chart-grid: rgb(228, 225, 225);
$col-lightgray: lightgray;
$col-mid-gray:rgb(160, 160, 160);
$col-gray: gray;
$col-darkgray:#555;
$col-teal: teal;
$col-golden: goldenrod;
$col-darkblue: darkblue;
$col-purple:#7451f8;
$col-dark-purple:#6430ff;
$bg-green:rgba(0, 128, 0, 0.151);
$bg-golden: rgba(255, 217, 0, 0.05);
$bg-crimson: rgba(255, 0, 0, 0.05);
$bg-light:#ece8ff;
$border-darkblue: rgba(0, 0, 139, 0.596);
$border-crimson:rgba(220, 20, 60, 0.6);
$box-shadow:rgba(0, 0, 0, 0.47);
$box-shadow-gray:rgba(201, 201, 201, 0.47);