@import '../../styles/mixin';
@import "../../styles/variables";

.widgets, .charts {
  @include _flex($justify: none, $align: none);
  padding: 20px;
  gap: 20px;
}

.charts {
  padding: 5px 20px;
}

.listContainer {
  @include _boxShadow;
  padding: 20px;
  margin: 20px;

  .listTitle {
    font-weight: 500;
    color: $col-gray;
    margin-bottom: 15px;
  }
}